<div class="alert alert-primary">
  Expression = {{filterString ? filterString: '()'}}
</div>
<form [formGroup]="filterForm">
  <ng-template
    #queryTemplateRef
    let-filter="filter"
    let-groupToRemove="groupToRemove"
  >
    <div class="alert alert-dark" role="alert">
      <div class="row">
        <!-- logical operators -->
        <!-- <select class="form-control input-sm"></select> -->
        <div class="col">
          <input
            class="form-control"
            type="text"
            formControlName="logicalOperator"
          />
        </div>
        <div class="col p-0">
          <button
            style="margin-left: 5px"
            (click)="addField(filter)"
            class="btn btn-sm btn-success"
          >
            <span class="glyphicon glyphicon-plus-sign"></span>
            Add Field
          </button>
        </div>
        <div class="col p-0">
          <button
            style="margin-left: 5px"
            (click)="addGroup(filter)"
            class="btn btn-sm btn-success"
          >
            <span class="glyphicon glyphicon-plus-sign"></span>
            Add Group
          </button>
        </div>
        <div class="col p-0">
          <button
            *ngIf="groupToRemove"
            style="margin-left: 5px"
            (click)="removeGroup(groupToRemove)"
            class="btn btn-sm btn-danger"
          >
            <span class="glyphicon glyphicon-minus-sign"></span>
            Remove Group
          </button>
        </div>
      </div>

      <div
        *ngIf="filter.value.filters && filter.value.filters.length > 0 "
        class="child-query"
        formArrayName="filters"
      >
        <!-- field condition -->
        <div
          *ngFor="let childFilter of filter.get('filters').controls; let fieldGroup = index;"
        >
          <div
            class="row mt-1"
            *ngIf="!childFilter.value.logicalOperator; else nestedFilter"
            style="margin-left: 2%;"
            [formGroup]="childFilter"
          >
            <div class="col">
              <input class="form-control" type="text" formControlName="name" />
            </div>
            <!-- <input class="form-control input-sm" type="text" formControlName="type"> -->
            <div class="col">
              <input
                class="form-control"
                type="text"
                formControlName="relationalOperator"
              />
            </div>
            <div class="col">
              <input class="form-control" type="text" formControlName="value" />
            </div>
            <div class="col">
              <button
                style="margin-left: 5px"
                (click)="removeField(filter, fieldGroup)"
                class="btn btn-sm btn-danger"
              >
                <span class="glyphicon glyphicon-minus-sign"></span>
                Remove
              </button>
            </div>
          </div>
          <ng-template #nestedFilter>
            <div class="mt-2" [formGroup]="childFilter">
              <ng-template
                [ngTemplateOutlet]="queryTemplateRef"
                [ngTemplateOutletContext]="{ filter: childFilter, groupToRemove: { group: filter, index: fieldGroup} }"
              >
              </ng-template>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template
    [ngTemplateOutlet]="queryTemplateRef"
    [ngTemplateOutletContext]="{ filter: filterForm, removeGroup: null }"
  >
  </ng-template>
</form>

<div class="alert alert-success">
  JSON: {{filterForm.value | json}}
</div>
